# Set terminal options
[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources &

# ???
/usr/bin/start-pulseaudio-x11

setxkbmap -option ctrl:nocaps

# nvidia performance boost?
nvidia-settings -a GlyphCache=1
nvidia-settings -a InitialPixmapPlacement=2

exec /home/hsp/.config/bspwm/start_bspwm
